.appContainer{
    display: flex;
    flex-direction: row;
}

.inputWrapper input{
    font-size: 5rem;
    font-weight: bold;
}

.column{
    width: 50%;
    padding: 20px;
}

input:focus{
    border-color: #BD001F;
}

button,
button:hover,
button:focus,
button:visited {
    background-color: #BD001F;
    opacity: 1;
    padding: 10px 20px
}

button:disabled{
    background-color: #E1E1E1;
}

.inputWrapper label{
    display: block;
}

.inputWrapper.thirds input{
    width: 30%
}

.inputWrapper.thirds button{
    width: 30%;
    display: inline-block;
}



.inputWrapper.halfs input{
    width: 30%;

}

.inputWrapper.halfs button{
    display: inline-block;
}

.periodType{
    background-color: white !important;
    color: black !important;
    border-radius: 0; 
    border: 1px solid #E1E1E1;
    padding: 30px 40px !important;
 }
 
 .periodType:disabled{
    background-color: #E1E1E1 !important;
 }

 span.pallet{
    background-color: #BD001F;
    width: 10px;
    height: 10px;
    display:inline-block;
    border-radius: 50%;
    margin-right: 10px
}

span.pallet.grey {
    background-color: #E1E1E1;
}

span.pallet.black {
    background-color: #262626;
}

span.pallet.red {
    background-color: #BD001F;
}

.fakeInput {
    width: 100%;
    background-color: grey;
    padding: 10px 20px;
    font-size: 5rem;
    font-weight: bold;
}

.legend{
    list-style:none;
}

@media (max-width: 520px){

    .appContainer{
        flex-wrap: wrap;
    }
    .column{
        width: 100%;
    }
}